<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>entry</key><array><dict><key>id</key><integer>100894404</integer><key>hash</key><string>205e460b479e2e5b48aec07710c08d50</string><key>requestHash</key><string>205e460b479e2e5b48aec07710c08d50</string><key>profileUrl</key><string>http://gravatar.com/beautesting1blog</string><key>preferredUsername</key><string>beautesting1blog</string><key>thumbnailUrl</key><string>https://secure.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50</string><key>photos</key><array><dict><key>value</key><string>https://secure.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50</string><key>type</key><string>thumbnail</string></dict></array><key>name</key><array/><key>displayName</key><string>beautesting1blog</string><key>urls</key><array/></dict></array></dict></plist>
