<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>data</key><dict><key>id</key><string>75</string><key>first_name</key><string></string><key>last_name</key><string></string><key>position</key><string></string><key>company</key><string></string><key>industry</key><string></string><key>location</key><string></string><key>school</key><string></string><key>degree</key><string></string><key>for_hire</key><false/><key>work_experiences</key><array/><key>studies</key><array/><key>interests</key><array/><key>token</key><string>284ac6bad6693a0e0811b7535bde23fa0e4bb3c5</string><key>about</key><string></string><key>email</key><string>riosc@gmail.com</string><key>skills</key><array/><key>avatar</key><string></string></dict><key>success</key><true/></dict></plist>
